@{
    ViewBag.Location = "编辑教师信息";
    Layout = "~/Views/Management/_ManagementMaster.cshtml";
}

@using EAMSystem.Models

@model Teacher

<a href="/Management/StudentList">返回</a>

@using (Html.BeginForm(new { controller = "Management", action = "EditTeacher" }))
{
    Html.Hidden("id", Model != null ? Model.Id.ToString() : string.Empty);

    <table>
        <tr>
            <td>@Html.Label("教工号")</td>
        </tr>
        <tr>
            <td>@Html.TextBox("teano", Model != null ? Model.TeaNo : string.Empty)</td>
        </tr>
        <tr>
            <td>@Html.Label("姓名")</td>
        </tr>
        <tr>
            <td>@Html.TextBox("name", Model != null ? Model.Name : string.Empty)</td>
        </tr>
        <tr>
            <td>@Html.Label("学院")</td>
        </tr>
        <tr>
            <td>@Html.TextBox("institution", Model != null ? Model.Institution : string.Empty)</td>
        </tr>
        <tr>
            <td><input type="submit" value="提交" /></td>
        </tr>
    </table>
}